.titleBox{
    border-bottom: solid #0a2351;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.img-container {
    text-align: center;
}

.fab {
    text-align: center;
    margin: 2px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-medium {
    background: white;
    color: black;
}

.tech-stack-table {
   width:800px;
   height:500px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.right-align-container {
 text-align: right;
 }

.header {
  padding: 0px;
  text-align: center;
  background: #0a2351;
  color: white;
  font-size: 15px;
}

.footer {
  padding: 3px;
  text-align: center;
  background: #0a2351;
  color: white;
  font-size: 15px;
}

.link-color-black {
   color:black;
}

.container-no-padding {
  padding:0px
}

.circle-border {
    border: 4px solid #0a2351;
    background-color: #FFFFFF;
    height: 200px;
    border-radius:50%;
    width: 200px;
}

body {
  background-color: #ccccb3;
  font-family: Arial
}