.titleBox{
    border-bottom: solid deepskyblue;
    padding: 5px;
    text-align: center;
}

.img-container {
    text-align: center;
}

.fab {
    text-align: center;
    margin: 2px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-medium {
    background: white;
    color: black;
}

.tech-stack-table {
   width:500px
}
